.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .87);
    z-index: 11;
}
.clear {
    clear: both;
}
.close {
    color: black;
    position: absolute;
    top: 0;
    right: .5rem;
    z-index: 1;
    cursor: pointer;
}
.card {
    width: 100%;
    background-color: white;
    padding: 20px;
}
.card-img {
    width: 100%;
}

.comment-list {
    list-style-type: none;
}
